.block {
  margin-bottom: 20px;
}

.clickable {
  display: block;
}

.clickable:nth-last-child(n+2) {
  margin-bottom: 10px;
}

.radio {
  display: inline-block;
}

.rate {
  display: inline-block;
}
